@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
	background: #111;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	color: #fff;
}

.nav {
	width: 80%;
	background: #666;
	padding: 5px;
	margin: 15px;
	border-bottom: 10px solid #444;
}

.nav img {
    width: auto;
    height: 70px;
}

@media only screen and (min-width: 900px) {
  .nav {
		display: flex;
		justify-content: center;
		align-items: center;
  }
}

.nav a {
	font-size: 1.2em;
	padding: 3px;
	margin: 13px;
}

.footer {
	color: #666;
	font-size: 80%;
	border-top: 1px solid gray;
	width: 75%;
}

h2 {
	margin: 0;
}

a {
	color: #fff;
}

.page {
	margin-bottom: 15px;
}

img {
	width: 170px;
}